#========AI Usage Restrictions SEI message =====================

SEIAUREnabled:           1
SEIAURCancelFlag:          0
SEIAURPersistenceFlag:          1
SEIAURNumRestrictionsMinus1: 2
SEIAURRestrictions: 1 0 1 
SEIAURContextPresentFlag: 1 0 1
SEIAURContext: 1 0 2   

